<div id="<%= dom_id crew %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= crew.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Divsion</p>
    <%= crew.division_id %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Leader</p>
    <%= crew.leader_id %>
  </div>
</div>
