<div id="<%= dom_id cost_code %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= cost_code.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Code</p>
    <%= cost_code.code %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Id number</p>
    <%= cost_code.id_number %>
  </div>
</div>
